<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">Film表单</h5>
</div>

<div class="modal-body">

    <form id="film-form" name="film-form" class="form-horizontal" >
        <input type="hidden" name="id">
        <input type="hidden" name="deleted">
        <input type="hidden" name="createDate">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="subject" class="col-sm-2 control-label">片名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="片名">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="subjectMain" class="col-sm-2 control-label">片名全</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subjectMain" name="subjectMain" placeholder="片名全">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="subjectOther" class="col-sm-2 control-label">又名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subjectOther" name="subjectOther" placeholder="又名">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="genre" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="genre" name="genre" placeholder="类型">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="year" class="col-sm-5 control-label">年代</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="year" name="year" placeholder="年代">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="runtime" class="col-sm-5 control-label">时长</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="runtime" name="runtime" placeholder="时长">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="country" class="col-sm-4 control-label">国家/地区</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="country" name="country" placeholder="国家/地区">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="initialReleaseDate" class="col-sm-4 control-label">发行日期</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="initialReleaseDate" name="initialReleaseDate" placeholder="发行日期">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="doubanNo" class="col-sm-4 control-label">豆瓣编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="doubanNo" name="doubanNo"  placeholder="豆瓣编号" >
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="doubanRating" class="col-sm-4 control-label">豆分</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="doubanRating" name="doubanRating" placeholder="豆瓣评分">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="doubanSum" class="col-sm-4 control-label">豆评人数</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="doubanSum" name="doubanSum" placeholder="豆瓣评分人数">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="imdbNo" class="col-sm-4 control-label">IMDB编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="imdbNo" name="imdbNo" placeholder="IMDB编号">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="imdbRating" class="col-sm-4 control-label">IMDB分</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="imdbRating" name="imdbRating" placeholder="IMDB评分">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="doubanSum" class="col-sm-4 control-label">IMDB评人数</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="imdbSum" name="imdbSum" placeholder="IMDB评人数">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="screenWriter" class="col-sm-3 control-label">编剧</label>
                    <div class="input-group">
                        <input type="hidden" id="screenWriter"  name="screenWriter" >
                        <input type="text" class="form-control" id="screenWriterNames">
                        <div class="input-group-addon">
                            <a href="#" data-btn-type="person_select"  data-ret-ids="screenWriter" data-ret-names="screenWriterNames"><i class="fa fa-users"></i>&nbsp;&nbsp;选择</a>
                            <!-- <i class="fa fa-users" title="点击此按钮选择接收人"></i>-->
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-sm-3 control-label">海报</label>
                    <div class="col-sm-8">
                        <!--<form enctype="multipart/form-data" id="upload-form">-->
                            <input type="file" class="pull-left col-sm-8" name="filmLogo" id="filmLogo" accept="image/*">
                            <input type="button" id="upload" class="pull-right  col-sm-4" value="上传">
                        <!--</form>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="directors" class="col-sm-3 control-label">导演</label>
                    <div class="input-group">
                        <input type="hidden" id="directors" name="directors" >
                        <input type="text" class="form-control" id="directorsNames"  >
                        <div class="input-group-addon">
                            <a href="#" data-btn-type="person_select" data-ret-ids="directors" data-ret-names="directorsNames"><i class="fa fa-users"></i>&nbsp;&nbsp;选择</a>
                            <!-- <i class="fa fa-users" title="点击此按钮选择接收人"></i>-->
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label for="actors" class="col-sm-1 control-label">演员</label>
                    <div class="input-group">
                        <input type="hidden" id="actors" name="actors">
                        <input type="text" class="form-control" id="actorsNames" placeholder="演员">
                        <div class="input-group-addon">
                            <a href="#" data-btn-type="person_select"  data-ret-ids="actors" data-ret-names="actorsNames"><i class="fa fa-users"></i>&nbsp;&nbsp;选择</a>
                            <!-- <i class="fa fa-users" title="点击此按钮选择接收人"></i>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="introduce" class="col-sm-1 control-label">简介</label>
                <div class="col-sm-10">
                    <textarea rows="4" class="form-control" id="introduce" name="introduce" placeholder="简介" />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <!--以下两种方式提交验证,根据所需选择-->
            <!--<button type="submit" class="btn btn-primary" data-btn-type="saveToProcess">修改待确认</button>-->
            <button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" data-btn-type="save">保存</button>
            <!--<button type="submit" class="btn btn-primary" data-btn-type="saveToFinish">确认并完成</button>-->
        </div>
    </form>

</div>



<script>
    //tableId,queryId,conditionContainer
    var form =null;
    var id="${id?default(0)}";
    var winId = "filmWin";

    var filedIds ;
    var filedNames;
    $(function() {
        //初始化控件
        form=$("#film-form").form();
        //数据校验
        $("#film-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function(validator, userform, submitButton) {
                modals.confirm('确认继续？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    var submitType = $(submitButton).attr("data-btn-type");
                    ajaxPost(basePath+'/api/film/'+submitType, params, function(data, status) {
                        if(data.msg == "success"){
                            if(id!="0"){//更新
                                modals.hideWin(winId);
                                filmTable.reloadRowData(id);
                            }else{//新增
                                //modals.info("数据保存成功");
                                modals.hideWin(winId);
                                filmTable.reloadData();
                            }
                        }
                    });
                });
            },
            fields : {
                name : {
                    validators : {
                        notEmpty : {
                            message : '请输入姓名'
                        }
                    }
                },
                sex : {
                    validators : {
                        notEmpty : {
                            message : '请选择性别'
                        }
                    }
                },
                birthday : {
                    validators : {
                        notEmpty : {
                            message : '请输入出生日期'
                        },
                        date : {
                            format : $(this).data("format"),
                            message : '请输入有效日期'
                        }
                    }
                },
                loginName : {
                    validators : {
                        notEmpty : {
                            message : '请输入登录名'
                        }
                    }
                },
                email:{
                    validators:{
                        notEmpty:{
                            message:'请输入邮件',
                        },
                        emailAddress:{
                            message:'非法的邮件格式',
                        }

                    }
                }
            }
        });
        form.initComponent();
        //回填id
        if(id!="0"){
            ajaxPost(basePath+"/api/film/get",{id:id},function(data){
                form.initFormData(data);
                initPersonNames("directors","directorsNames");
                initPersonNames("actors","actorsNames");
                initPersonNames("screenWriter","screenWriterNames");
            })
        }

        $(".close").click(function () {
            if(filmTable){
                filmTable.reloadData();
            }
        });

        $("#upload").click(function () {
            var formData = new FormData;
            if($("#filmLogo")[0].files[0] == null){
                modals.info("请先选择要上传的海报图片！");
                return false;
            }
            formData.append('filmLogo',$("#filmLogo")[0].files[0]);
            formData.append('id',id);
            $.ajax({
                type: 'post', // 提交方式 get/post
                url: '/api/film/upload/'+id, // 需要提交的 url
                data: formData,
                //ajax2.0可以不用设置请求头，但是jq帮我们自动设置了，这样的话需要我们自己取消掉
                contentType:false,
                //取消帮我们格式化数据，是什么就是什么
                processData:false,
                success: function(data) { // data 保存提交后返回的数据，一般为 json 数据
                    // 此处可对 data 作相关处理
                    id = data.data.id;
                    $("input[name='id']").val(data.data.id);
                    $("input[name='createDate']").val(data.data.createDate);
                    modals.info(data.msg);
                }
            });
            return false; // 阻止表单自动提交事件，必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
        })


        //选择人person_select
        $("[data-btn-type='person_select']").click(function () {
            filedIds = $(this).attr("data-ret-ids");
            filedNames = $(this).attr("data-ret-names");
            modals.openWin({
                winId: "receiverWin",
                title: '选择人',
                width: '800px',
                url: basePath + "/film/person/select",
                hideFunc: function () {
                    //主要是本页面wyhtml5含有modal样式影响了模态窗体的显示
                    $(document.body).removeClass('modal-open');
                    $(document.body).css("padding-right", "0px");
                }
            });
        });


    });


    //不建立群组，直接返回接收人
    function initPersonNames(filedIds,filedNames) {
        //显示接收人姓名
        ajaxPost(basePath + "/api/person/names", {personIds: $("#"+filedIds).val()}, function (map) {
            $("#"+filedNames).val(map.name);
        });
    }

    function resetForm(){
        form.clearForm();
        $("#film-form").data('bootstrapValidator').resetForm();
    }
</script>
