<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">Film表单</h5>
</div>

<div class="modal-body">

    <form id="film-form" name="film-form" class="form-horizontal">
        <input type="hidden" name="id">
        <input type="hidden" name="deleted">
        <input type="hidden" name="createDate">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="subject" class="col-sm-2 control-label">片名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="片名">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="subjectMain" class="col-sm-2 control-label">片名全</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subjectMain" name="subjectMain" placeholder="片名全">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="subjectOther" class="col-sm-1 control-label">其他名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subjectOther" name="subjectOther" placeholder="其他名">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="year" class="col-sm-3 control-label">年代</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="year" name="year" placeholder="年代">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="country" class="col-sm-3 control-label">国家/地区</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="country" name="country" placeholder="国家/地区">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="doubanNo" class="col-sm-4 control-label">豆瓣编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="doubanNo" name="doubanNo"  placeholder="豆瓣编号" >
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="doubanRating" class="col-sm-4 control-label">豆分</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="doubanRating" name="doubanRating" placeholder="豆瓣评分">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="doubanSum" class="col-sm-4 control-label">豆评人数</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="doubanSum" name="doubanSum" placeholder="豆瓣评分人数">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="imdbNo" class="col-sm-4 control-label">IMDB编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="imdbNo" name="imdbNo" placeholder="IMDB编号">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="imdbRating" class="col-sm-4 control-label">IMDB分</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="imdbRating" name="imdbRating" placeholder="IMDB评分">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="doubanSum" class="col-sm-4 control-label">IMDB评人数</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="imdbSum" name="imdbSum" placeholder="IMDB评人数">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="initialReleaseDate" class="col-sm-3 control-label">发行日期</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="initialReleaseDate" name="initialReleaseDate" placeholder="发行日期">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="runtime" class="col-sm-3 control-label">时长</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="runtime" name="runtime" placeholder="时长">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="directors" class="col-sm-3 control-label">导演</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="directors" name="directors" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="screenWriter" class="col-sm-3 control-label">编剧</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="screenWriter" name="screenWriter" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="actors" class="col-sm-1 control-label">演员</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="actors" name="actors" placeholder="演员">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="genre" class="col-sm-1 control-label">类型</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="genre" name="genre" placeholder="类型">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="introduce" class="col-sm-1 control-label">简介</label>
                <div class="col-sm-10">
                    <textarea rows="4" class="form-control" id="introduce" name="introduce" placeholder="简介" />
                </div>
            </div>

        </div>

        <!-- /.box-body -->
        <div class="box-footer text-right">
            <!--以下两种方式提交验证,根据所需选择-->
            <!--<button type="submit" class="btn btn-primary" data-btn-type="saveToProcess">修改待确认</button>-->
            <button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" data-btn-type="save">保存</button>
            <!--<button type="submit" class="btn btn-primary" data-btn-type="saveToFinish">确认并完成</button>-->
        </div>
        <!-- /.box-footer -->
    </form>

</div>
<script>
    //tableId,queryId,conditionContainer
    var form =null;
    var id="${id?default(0)}";
    var winId = "filmWin";
    $(function() {
        //初始化控件
        form=$("#film-form").form();
        //数据校验
        $("#film-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function(validator, userform, submitButton) {
                modals.confirm('确认继续？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    var submitType = $(submitButton).attr("data-btn-type");
                    ajaxPost(basePath+'/api/film/'+submitType, params, function(data, status) {
                        if(data.msg == "success"){
                            if(id!="0"){//更新
                                modals.hideWin(winId);
                                filmTable.reloadRowData(id);
                            }else{//新增
                                //modals.info("数据保存成功");
                                modals.hideWin(winId);
                                filmTable.reloadData();
                            }
                        }
                    });
                });
            },
            fields : {
                name : {
                    validators : {
                        notEmpty : {
                            message : '请输入姓名'
                        }
                    }
                },
                sex : {
                    validators : {
                        notEmpty : {
                            message : '请选择性别'
                        }
                    }
                },
                birthday : {
                    validators : {
                        notEmpty : {
                            message : '请输入出生日期'
                        },
                        date : {
                            format : $(this).data("format"),
                            message : '请输入有效日期'
                        }
                    }
                },
                loginName : {
                    validators : {
                        notEmpty : {
                            message : '请输入登录名'
                        }
                    }
                },
                email:{
                    validators:{
                        notEmpty:{
                            message:'请输入邮件',
                        },
                        emailAddress:{
                            message:'非法的邮件格式',
                        }

                    }
                }
            }
        });
        form.initComponent();
        //回填id
        if(id!="0"){
            ajaxPost(basePath+"/api/film/get",{id:id},function(data){
                form.initFormData(data);
            })
        }
    });


    function resetForm(){
        form.clearForm();
        $("#film-form").data('bootstrapValidator').resetForm();
    }
</script>
