
<div class="page-content" >
    <div class="page-header">
        <h1 class=" pull-left">电影列表 </h1>
        <div>
            <div class="pull-left col-md-2" style="height: 34px;line-height: 34px;">
                <input type="checkbox" data-flag="icheck" class="square-green"  value="1"  id="refresh" name="refresh"> 自动刷新?
            </div>
            <div class="dataTables_filter" id="searchDiv">
                <input placeholder="请输入片名" name="subjectMain" class="form-control" type="search" likeOption="true"/>
                <input placeholder="请输入年份" name="year" class="form-control" type="search" />
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-btn-type="search"><i class="fa fa-search"></i></button>
                    <button type="button" class="btn btn-default" data-btn-type="reset"><i class="fa fa-mail-reply"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-btn-type="add"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-default" data-btn-type="delete"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <!-- PAGE CONTENT BEGINS -->
            <table id="film_list" class="table table-bordered table-hover">
            </table>
            <!-- PAGE CONTENT ENDS -->
    </div><!-- /.row -->

</div><!-- /.page-content -->


<script>
    //tableId,queryId,conditionContainer
    var filmTable;
    var winId="filmWin";
    var dataUrl ="${dataUrl}";
    $(function() {
        //init table and fill data
        filmTable = new CommonTable("film_list", dataUrl, "searchDiv");

        //button event
        $('button[data-btn-type]').click(function() {
            var action = $(this).attr('data-btn-type');
            var rowId=filmTable.getSelectedRowId();
            switch (action) {
                case 'add':
                    modals.openWin({
                        winId:winId,
                        title:'新增Film',
                        width:'1000px',
                        url:basePath+"/film/edit"
                        /*, hideFunc:function(){
                            modals.info("hide me");
                        },
                        showFunc:function(){
                            modals.info("show me");
                        } */
                    });
                    break;
                case 'edit':
                    if(!rowId){
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId:winId,
                        title:'编辑用户【'+userTable.getSelectedRowData().name+'】',
                        width:'900px',
                        url:basePath+"/user/edit?id="+rowId,
                    });
                    break;
                case 'delete':
                    if(!rowId){
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？",function(){
                        ajaxPost(basePath+"/user/delete/"+rowId,null,function(data){
                            if(data.success){
                                //modals.correct("已删除该数据");
                                userTable.reloadRowData();
                            }else{
                                modals.error("用户数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }

        });


        window.clearInterval(int);
        int = setInterval(function () {
           if ($("#refresh").is(':checked')) {
               refreshAuto();
           }else{
              // console.log("unchecked");
           }

        }, 5000);


        $(document).find('[data-flag="icheck"]').each(function () {
            var cls = $(this).attr("class") ? $(this).attr("class") : "square-green";
            $(this).iCheck(
                {
                    checkboxClass: 'icheckbox_' + cls,
                    radioClass: 'iradio_' + cls
                }
            ).on('ifChanged', function (e) {
                var field = $(this).attr('name');
            });
        });

    });


    function fnRenderFilmLogo(value) {
        if (value) {
            return "<img width='50px' src= 'data:image/jpeg;base64,"+value+"' >";
        } else
            return "<img width='50px' src= '/assets/images/avatars/nologo.png' >";
    }

    function fnRenderReleaseDate(value) {

        if (value) {
            if (value.indexOf(",")){
                return value.replace(/,/g,"<br>");
            }
        }

        return value;

    }

    function refreshAuto() {
        //console.log("refresh table");
        filmTable.reloadData();
    }


</script>