<style>

    td.details-control:after {
        content: "\f055" !important;
        font-family: FontAwesome;
        color: #438EB9;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }


    tr.details td.details-control:after {
        content: "\f056" !important;
        font-family: FontAwesome;
        color: #438EB9;
        font-size: 16px;
        font-weight: 400;
    }
    tr.selected td.details-control:after {
        color: #2B7DBC;
    }

    .dataTables_filter{
        margin-left:0px !important;
        margin-right: 0px !important;
        margin-left: -4px !important;
    }

    .dataTables_wrapper .row:first-child{
        /*background-color: #EFF3F8;*/
    }
    .dataTables_wrapper .row:first-child{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    div.dataTables_filter{
        text-align: left;
    }

    .page-header{
        padding-bottom: 6px !important;
    }

    .table-bordered>thead>tr>th {border-bottom-width:3px !important;}
</style>



<div class="page-content" >

    <div class="page-header">
        <h1>${pageSubject}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                overview &amp; Ver20190926
            </small>
        </h1>
    </div>

    <div class="page-body">

        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline">
            <div class="row">
                <div class="dataTables_filter alert-block" id="searchDiv">
                </div>
            </div>
            <!-- PAGE CONTENT BEGINS -->
            <table id="${dataTableId}" class="table table-bordered table-hover dataTable" width="100%">
            </table>
            <!-- PAGE CONTENT ENDS -->
        </div>


    </div><!-- /.row -->
    <!-- /.page-content -->




<script src="common/js/dataTables_render.js"></script>
<script>
    //tableId,queryId,conditionContainer
    var ffTable;
    var dataUrl ="${dataUrl}";

    $(function() {
        jQuery.ajaxSettings.async = false; //同步
        loadPage("${searchDivUrl}", $('#searchDiv') );
        jQuery.ajaxSettings.async = true; //同步
        //init table and fill data
        ffTable = new CommonTable("${dataTableId}", dataUrl, "searchDiv");
        $("#thumbnail").magnify();

        //button event
        $('button[data-btn-type]').click(function() {
            var action = $(this).attr('data-btn-type');
            var rowId=ffTable.getSelectedRowId();
            switch (action) {
                case 'add':
                    modals.openWin({
                        winId:winId,
                        title:'新增Film',
                        width:'1000px',
                        url:basePath+"/film/edit"
                        /*, hideFunc:function(){
                            modals.info("hide me");
                        },
                        showFunc:function(){
                            modals.info("show me");
                        } */
                    });
                    break;
                case 'eraser':
                    if(!rowId){
                        modals.info('请选择要销毁的行');
                        return false;
                    }
                    modals.confirm("是否要销毁该行数据？（需要先物理删除影音文件）",function(){
                        ajaxPost(basePath+"/media/eraser/"+rowId,null,function(data){
                            if(data.success){
                                modals.correct("已销毁该数据。");
                                ffTable.reloadRowData();
                            }else{
                                modals.error("用户数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
                case 'delete':
                    if(!rowId){
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据,同时取消关联？",function(){
                        ajaxPost(basePath+"/media/damage/"+rowId,null,function(data){
                            if(data.success){
                                modals.correct("已删除该数据，并取消关联。");
                                ffTable.reloadRowData();
                            }else{
                                modals.error("用户数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }

        });



    });



</script>