<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">新增编辑Media</h5>
</div>

<div class="modal-body">

    <form id="media-form" name="media-form" class="form-horizontal">
        <input type="hidden" name="id">
        <input type="hidden" name="deleted">

        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">文件（夹）名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="名称">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="fullPath" class="col-sm-2 control-label">全路径</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="fullPath" name="fullPath" placeholder="全路径">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="year" class="col-sm-3 control-label">年代</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="year" name="year" placeholder="年代">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="filmId" class="col-sm-3 control-label">关联的Film</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="filmId"  placeholder="关联的Film的Id" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="nameChn" class="col-sm-3 control-label">片名（中）</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nameChn" name="nameChn" placeholder="片名（中）">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="nameEng" class="col-sm-3 control-label">片名（英）</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nameEng" name="nameEng" placeholder="片名（中）">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="pcName" class="col-sm-3 control-label">PC名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="pcName" name="pcName" placeholder="PC名">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="diskNo" class="col-sm-3 control-label">盘符</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="diskNo" name="diskNo" placeholder="盘符">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="diskName" class="col-sm-3 control-label">盘名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="diskName" name="diskName" placeholder="盘名">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="mediaSizeGB" class="col-sm-4 control-label">占用磁盘空间（GB）</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="mediaSizeGB" name="mediaSizeGB" placeholder="占用磁盘空间（单位GB）" readonly>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="mediaSize" class="col-sm-5 control-label">占用磁盘空间（字节）</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="mediaSize" name="mediaSize" readonly >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="gatherDate" class="col-sm-3 control-label">资源下载时间</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"  data-flag="date"  data-format="yyyy-mm-dd hh:ii:ss" id="gatherDate" name="gatherDate" placeholder="资源下载时间" readonly>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="modifiedDate" class="col-sm-3 control-label">资源修改时间</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"  data-flag="date"  data-format="yyyy-mm-dd hh:ii:ss" id="modifiedDate" name="modifiedDate" placeholder="资源修改时间" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="createDate" class="col-sm-3 control-label">条目创建时间</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"  data-flag="date"  data-format="yyyy-mm-dd hh:ii:ss" id="createDate" name="createDate" placeholder="条目创建时间" readonly>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="updateDate" class="col-sm-3 control-label">条目更新时间</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"  data-flag="date"  data-format="yyyy-mm-dd hh:ii:ss" id="updateDate" name="updateDate" placeholder="条目更新时间" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-sm-3 control-label">是文件夹?</label>
                    <div class="col-sm-8">
                        <label class="control-label"> <input type="radio" name="whetherFolder" data-flag="icheck" class="square-green" value="1"> 是
                        </label> &nbsp; <label class="control-label"> <input type="radio" name="whetherFolder" data-flag="icheck" class="square-green" value="0"> 否
                        </label>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label class="col-sm-3 control-label">路径是否存在?</label>
                    <div class="col-sm-8">
                        <label class="control-label"> <input type="radio" name="whetherAlive" data-flag="icheck" class="square-green" value="1"> 是
                        </label> &nbsp; <label class="control-label"> <input type="radio" name="whetherAlive" data-flag="icheck" class="square-green" value="0"> 否
                    </label>
                    </div>
                </div>
            </div>

        </div>

        <!-- /.box-body -->
        <div class="box-footer text-right">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="saveToProcess">修改待确认</button>
            <button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" data-btn-type="save">保存</button>
            <button type="submit" class="btn btn-primary" data-btn-type="saveToFinish">保存并完成</button>
        </div>
        <!-- /.box-footer -->
    </form>

</div>
<script>
    //tableId,queryId,conditionContainer
    var form =null;
    var id="${id?default(0)}";
    var winId = "mediaWin";
    $(function() {
        //初始化控件
        form=$("#media-form").form();
        //数据校验
        $("#media-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function(validator, userform, submitButton) {
                modals.confirm('确认继续？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    var filmId = $("#filmId").val();
                    var submitType = $(submitButton).attr("data-btn-type");
                    ajaxPost(basePath+'/api/media/'+submitType+'?filmId='+filmId, params, function(data, status) {
                        if(data.msg == "success"){
                            if(id!="0"){//更新
                                modals.hideWin(winId);
                                mediaTable.reloadRowData(id);
                            }else{//新增
                                //modals.info("数据保存成功");
                                modals.hideWin(winId);
                                mediaTable.reloadData();
                            }
                        }
                    });
                });
            },
            fields : {
                name : {
                    validators : {
                        notEmpty : {
                            message : '请输入姓名'
                        }
                    }
                },
                sex : {
                    validators : {
                        notEmpty : {
                            message : '请选择性别'
                        }
                    }
                },
                birthday : {
                    validators : {
                        notEmpty : {
                            message : '请输入出生日期'
                        },
                        date : {
                            format : $(this).data("format"),
                            message : '请输入有效日期'
                        }
                    }
                },
                loginName : {
                    validators : {
                        notEmpty : {
                            message : '请输入登录名'
                        }
                    }
                },
                email:{
                    validators:{
                        notEmpty:{
                            message:'请输入邮件',
                        },
                        emailAddress:{
                            message:'非法的邮件格式',
                        }

                    }
                }
            }
        });
        form.initComponent();
        //回填id
        if(id!="0"){
            ajaxPost(basePath+"/api/media/get",{id:id},function(data){
                form.initFormData(data);
                var filmId  = eval('data.film.id');
                $("#filmId").val(filmId);
            })
        }
    });


    function resetForm(){
        form.clearForm();
        $("#media-form").data('bootstrapValidator').resetForm();
    }
</script>
